.welcome {
    padding-bottom: 41px;

    &_title {
        font-size: 48px;
        font-weight: 500;
        margin: 0 0 41px;

        &_name {
            color: #FF0101;
        }
    }

    &_quote {
        font-size: 18px;
        margin: 0;
    }
}

