.header {
    width: -webkit-fill-available;
    height: 90px;
    background-color: #020203;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 91px 0 18px;

    &_logo {
        width: 178px;
    }

    &_link {
        font-family: Roboto;
        font-weight: 500;
        font-size: 24px;
        color: white;
        text-decoration: none;
    }
}