@mixin trio-graph {
    max-height: 263px;
    width: 258px;
    border-radius: 5px;
    contain: content;
    font-size: 500;
}

@mixin no-data {
    font-family: Roboto;
    font-size: 18px;
    padding: 24px;
}