@use "../../Styles/_mixins.scss" as *;

.home {
    padding: 48px 70px 66px 87px;
    font-family: Roboto;
    width: 100%;

    &_nutrition {
        display: flex;
        gap: 39px;
        flex-direction: column;
        width: auto;
        padding-left: 30px;
    }

    &_trio {
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding-top: 30px;

        &_average-session {
            @include trio-graph
        }

        &_performance {
            @include trio-graph
        }

        &_goal{
            @include trio-graph
        }
    }
}

.no-data {
    @include no-data
}

.container {
    display: flex;
}

.big-container {
    display: flex;
}