
.chart-title {
    font-size: 15px;
    color: #FFFFFF;
    opacity: 50%;
    padding: 34px 0 0 29px;
    width: 148px;
    margin: 0;
}

.average-session_x {
    color: white;
    padding: 0 10px;
    font-size: 40px;
}