.bar-chart_title {
    position: absolute;
    color: #20253A;
    margin-top: 3px;
    font-size: 15px;
}

.recharts-legend-wrapper ul {
  gap: 30px;
}

.recharts-legend-item-text {
  color: #74798C !important;
}