

.home {
    padding: 68px 90px 86px 107px;
    font-family: Roboto;
    width: 100%;

    &_nutrition {
        display: flex;
        gap: 39px;
        flex-direction: column;
        width: fit-content;
    }

    &_average-session {
        max-height: 263px;
        width: 258px;
        border-radius: 5px;
        contain: content;
    }

    &_performance {
        max-height: 263px;
        width: 258px;
        border-radius: 5px;
        contain: content;
    }
}