

.home {
    padding: 48px 70px 66px 87px;
    font-family: Roboto;
    width: 100%;

    &_nutrition {
        display: flex;
        gap: 39px;
        flex-direction: column;
        width: auto;
        padding-left: 30px;
        
    }

    &_trio {
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding-top: 30px;

        &_average-session {
            max-height: 263px;
            width: 258px;
            border-radius: 5px;
            contain: content;
        }

        &_performance {
            max-height: 263px;
            width: 258px;
            border-radius: 5px;
            contain: content;
        }

        &_goal{
            max-height: 263px;
            width: 258px;
            border-radius: 5px;
            contain: content;
        }
    }
}

.container {
    display: flex;
}

.big-container {
    display: flex;
}